<div class="content ">
  <table class="table" >
      <thead>
      <tr class="main-bar">
          <th style="width: 20%">{{ 'account' | translate }}</th>
          <th style="width: 20%">{{ 'account' | translate }}</th>
          <th style="width: 20%">{{ 'account' | translate }}</th>
          <th style="width: 40%">{{ 'account' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of data" >
        <td scope="{{ 'account' | translate }}:" class="table-title">{{ item?.name  }}</td>
        <td scope="{{ 'name' | translate }}:">{{ item?.name  }}</td>
        <td scope="{{ 'name' | translate }}:">{{ item?.name  }}</td>
        <td scope="{{ 'name' | translate }}:">{{ item?.name  }}</td>
      </tr>
      </tbody>
      <tfoot *ngIf="data.length==0" >
        <tr>
          <td colspan="4" >
            {{ 'no data' | translate }}
          </td>
        </tr>
      </tfoot>
  </table>
</div>



